
# Created by https://www.gitignore.io/api/c++
lander

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
Lander\ Project/Debug/*
Lander\ Project/Release/*
Lander\ Project/Lander/Debug/*
Lander\ Project/Lander/Release/*
.vs

# End of https://www.gitignore.io/api/c++